.root 
{ 
	-fx-background-color:#f0f8ff;
}


.label 
{
	-fx-text-fill: blue;
	-fx-font: italic 18pt "Lemon";
    -fx-effect: dropshadow(one-pass-box, #add8e6, 8, 0.0, 2, 0 );
}


CheckBox
{
	-fx-color: #e6e6fa; 
	-fx-text-fill: blue;
	-fx-font:  bold italic 16pt "PlayBall";
}