.root 
{
    -fx-font-size: 20px;
    -fx-background-color: #ffffff;
    -fx-color: #e6e6fa;
}


#titleLabel 
{
	-fx-text-fill: blue;	
	-fx-font:  bold italic 30pt "Lemon";
    -fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
}


#titleArchorPane 
{
	-fx-background-color: #e6e6fa;
	-fx-border-color: blue;
}

	
#ordersArchorPane 
{
	-fx-background-color:#f0f8ff;
}