.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #1E3986;
}

.tab-header-background {
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #ed982e;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #ed982e;
}

.button {
	-fx-border-radius: 15px;
}