.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #1E3986;
}

.tab-header-background {
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #ed982e;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #ed982e;
    -fx-border-width: 1.5px;
}

.scroll-pane {
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10px;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}
.button {
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-border-color: #ed982e;
	-fx-background-color: #FCD681;
	-fx-text-fill: black;
	
}

.text-field{
	-fx-background-color: transparent;
	-fx-text-inner-color: white;
}

.combo-box{
	-fx-control-inner-background: #1E3986;
	-fx-control-inner-text-color: white;
	-fx-background-color: transparent;
	-fx-border-color: #ed982e;
	-fx-border-radius: 10px;
	/*-fx-control-inner-color: #ed982e;*/
	
	-fx-accent: #ed982e;
	-fx-selection-bar: #ed982e;
	-fx-selection-bar-non-focused: #ed982e;
	-fx-focus-color: #ed982e;
	-fx-faint-focus-color: #ed982e;
	/*-fx-border-radius: 5px;*/
	
}